
<p class="text-center text-muted footer-p">Created by Joshua Lovell for GA WDI7</p>
<img class="img-circle img-fluid center-block" src="../../../images/Mirepoix2.png">
<div class="social">
    <ul>
      <li><a target="_blank" href="https://github.com/joshualylelovell"><i class="fa fa-lg fa-github"></i></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/joshualylelovell"><i class="fa fa-lg fa-linkedin"></i></a></li>
      <li><a target="_blank" href="https://www.instagram.com/jumpvirginia"><i class="fa fa-lg fa-instagram"></i></a></li>
    </ul>
</div>
