<nav class="navbar navbar-dark" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand link-color" href="https://en.wikipedia.org/wiki/Mirepoix_(cuisine)"> Mirepoix </a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><a class="link-color" href="/">Home</a></li>
      <% if (currentUser) { %>
        <li><a class="link-color" href="/recipes">Recipes</a></li>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (currentUser) { %>
        <li><a class="link-color" href="#"><%= currentUser.local.email %></a></li>
        <li><a class="link-color" href="/logout">Logout</a></li>
      <% } else { %>
        <li><a class="link-color" href="./login">Login</a></li>
        <li><a class="link-color" href="./signup">Signup</a></li>
      <% } %>
    </ul>
  </div>
</nav>

<div class="flash">
  <% if (typeof message !== 'undefined') { %>
    <% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
      <div class="bg-danger"><%= message.error %></div>
    <% } %>
    <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
      <div class="bg-info"><%= message.info %></div>
    <% } %>
    <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
      <div class="bg-success"><%= message.success %></div>
    <% } %>
  <% } %>
</div>
