<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

  <header>
    <% include partials/header %>
  </header>

  <main>
  <div class="container">
    <div class="jumbotron">
        <h1> Mirepoix </h1>
        <h3> A rough cut recipe app </h3>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="../../images/Dolac.jpg">
        </a>
      </div>

      <div class="col-xs-6 col-md-4">
        <a class="thumbnail" href="#">
          <img src="../../images/trout.jpg">
        </a>
      </div>

      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="../../images/Spread.jpg">
        </a>
      </div>
    </div>

  </div>
  </main>

  <footer>
    <p class="text-center text-muted footer-p">Created by Joshua Lovell for GA WDI7</p>
  </footer>

  </body>

  <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>

</html>
