<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body id="homepage">

  <header>
    <nav class="navbar navbar-dark" id="nav-homepage" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="link-color" target="_blank" href="https://en.wikipedia.org/wiki/Mirepoix_(cuisine)"> Mirepoix </a></li>
          <li><a class="link-color" href="/">Home</a></li>
          <% if (currentUser) { %>
            <li><a class="link-color" href="/recipes">Recipes</a></li>
          <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if (currentUser) { %>
            <li><a class="link-color" href="#"><%= currentUser.local.email %></a></li>
            <li><a class="link-color" href="/logout">Logout</a></li>
          <% } else { %>
            <li><a class="link-color" href="./login">Login</a></li>
            <li><a class="link-color" href="./signup">Signup</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div>
      <div class="jumbotron">
          <h1> Mirepoix </h1>
          <h3> A rough cut recipe app </h3>
          <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="./login" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="./signup" role="button">Signup</a>
          </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 thumbnail" id="homepageImage">
          <img class="bottom-row" src="../../images/Dolac.jpg">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 thumbnail" id="homepageImage">
          <img class="bottom-row" src="../../images/trout.jpg">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 thumbnail" id="homepageImage">
          <img class="bottom-row" src="../../images/Spread.jpg">
        </div>
      </div>
    </div>
  </main>

  <footer id="footer-main">
    <p class="text-center text-muted footer-p">Created by Joshua Lovell for GA WDI7</p>
    <div class="social">
      <ul>
        <li><a target="_blank" href="https://github.com/joshualylelovell"><i class="fa fa-lg fa-github"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/joshualylelovell"><i class="fa fa-lg fa-linkedin"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/jumpvirginia"><i class="fa fa-lg fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>

  </body>

  <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>

</html>
