<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
        <h1> Mirepoix </h1>
        <h3> A rough cut recipe app </h3>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

  </body>

  <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>

</html>
