<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body id="homepage">

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="container">
      <div class="jumbotron">
          <h1> Mirepoix </h1>
          <h3> A rough cut recipe app </h3>
          <div class="btn-group" role="group">
            <a class="btn btn-primary btn-lg" href="./login" role="button">Login</a>
            <a class="btn btn-primary btn-lg" href="./signup" role="button">Signup</a>
          </div>
      </div>


      <div class="row">
        <div class="col-xs-6 col-md-4 thumbnail" id="homepageImage">
          <img class="bottom-row" src="../../images/Dolac.jpg">
        </div>

        <div class="col-xs-6 col-md-4 thumbnail" id="homepageImage">
          <img class="bottom-row" src="../../images/trout.jpg">
        </div>

        <div class="col-xs-6 col-md-4 thumbnail" id="homepageImage">
          <img class="bottom-row" src="../../images/Spread.jpg">
        </div>
      </div>
    </div>
  </main>

  <footer id="footer-main">
    <p class="text-center text-muted footer-p">Created by Joshua Lovell for GA WDI7</p>
  </footer>

  </body>

  <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>

</html>
