body {
  padding: 50px;
  font-family: 'Waiting for the Sunrise', cursive;
  background-color: #5C97BF;
}

header {
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar {
  margin: auto auto 0;
  padding-bottom: 0;
  background-color: #1abc9c;
}

#nav-homepage {
  margin: auto auto 20px;
}

#homepage {
  background-color: #6589AA;
}

.container-fluid {
  font-family: 'Handlee', cursive;
  margin: 0 2%;
}

.link-color {
  color: white;
}

.jumbotron {
  text-align: center;
  position: relative;
  background: #000 url("../images/Pears.jpg") center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron > h1 {
  font-size: 10em;
}

.jumbotron > h3 {
  font-size: 3em;
}

.footer-p {
  color: #1abc9c;
  font-weight: bold;
}

footer {
  margin-top: 2em;
}

#footer-main {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

.btn {
  color: white;
  margin: 10px;
  background: #1abc9c;
  border-color: #1abc9c;
}

.titles {
  font-family: 'Permanent Marker', cursive;
}

h3 {
  margin: 1em 0;
}

#google {
  margin: 1em 0;
}

main {
  margin: auto auto 0;
  padding-bottom: 0;
}

.container {
  margin-bottom: 0;
  padding-bottom: 0
}

#recipeTitles {
  color: black;
}

li {
  padding: .25em;
}

.showPage {
  font-size: 1.25em;
}

#directionList {
  margin-right: 5%;
}

.wide {
  width: 100%;
  height: 100%;
  height: calc(100% - 1px);
  background-image: url('../images/Pears.jpg');
  background-size: cover;
  margin-top: 0;
  padding-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.wide img {
  width: 100%;
}

.logo {
  color: #fff;
  font-weight: 800;
  font-size: 1.25em;
  padding: 25px;
  text-align: center;
}

.line {
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
  border-color: #1abc9c;
  color: #1abc9c;
}

.social {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-instagram:hover {
    background: #375989;
}


@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 10px;
    }
    .jumbotron > h1 {
        font-size: 7em;
    }
 }


