body {
  padding: 50px;
  font-family: 'Waiting for the Sunrise', cursive;
  background-color: #F8F8FF;
}

.container-fluid {
  font-family: 'Handlee', cursive;
}

.navbar {
  background-color: #1abc9c;
}

.link-color {
  color: white;
}

.jumbotron {
  text-align: center;
  position: relative;
  background: #000 url("../images/Pears.jpg") center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron > h1 {
  font-size: 10em;
}

.jumbotron > h3 {
  font-size: 3em;
}

.footer-p {
  color: #1abc9c;
  font-weight: bold;
}

footer {
  margin-top: 2em;
}

#footer-main {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

.btn {
  color: white;
  margin: 10px;
  background: #1abc9c;
  border-color: #1abc9c;
}

.titles {
  font-family: 'Permanent Marker', cursive;
}

h3 {
  margin: 1em 0;
}

#google {
  margin: 1em 0;
}

main {
  margin-bottom: 0;
  padding-bottom: 0;
}

.container {
  margin-bottom: 0;
  padding-bottom: 0
}

