<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h3>NEW</h3>
    <form class="recipe-form" action="/recipes" method="post">
      <% include _form %>
      <a href="/recipes" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <form class="form-inline" id="google" method="get" target="_blank" action="https://www.google.com/search">
      <input type="text" name="q" class="form-control"  aria-describedby="googleSearch" placeholder="Need inspiration?">
      <button type="submit" value="Submit" class="btn btn-primary">Google search</button>
    </form>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

<script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>

</html>
